body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11.5pt;
}

main {
    background-color: #d4e9e7;
    width: 831px;
    margin: 0 auto;
    padding:9px;
}

.site-header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.site-title {
    font-weight: 400;
    font-size: 37pt;
    color: white;
    position: absolute;
    top: 21%;
    left: 41%;
}

.navbar {
    background-color: #d4e9e7;
    width: 849px;
    align-items: center;
    margin: auto;
}

a:not(:first-child):before {
    content: "|";
    padding-right: 80px;
    font-weight: 500;
}

a:link, a:visited {
    color:black;
    text-decoration: none;
    background-color:#d4e9e7;
    display: inline-block;
    padding:4px;
    margin-top: 3px;
    margin-inline: 40px;
    font-size: 20px;
    font-weight: bold;
}
    
#image-wrap {
    float: left;
    padding-right: 17px;
    padding-bottom: 25px;
}

.h2 {
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
}

h3 {
    font-size: 17pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
}

ul {
    font-size: 10pt;
}

#fullname {
    width:790px;
}

#email {
    width: 790px;
}

#message {
    width: 790px;
    height:70px;
}

.form-title {
    font-size: 17px;
}

button {
    background-color:#d4e9e7;
    padding: 9px;
    font-size: 9px;
    border-width: 1px;
}

footer {
    font-size: 11pt;
    background: #d4e9e7;
    text-align: right;
    width: 831px;
    margin: 0 auto;
    padding:9px;
}
    